/* =====================
----- Global Style ----- 
===================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --main-color: #E02C6D;
    --second-color: #3A3A3A;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 52px;
    font-weight: 700;
    color: var(--second-color);
    margin: 0px;
}
h2{
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
    margin: 0px;
}
h3{
    font-size: 28px;
    font-weight: 600;
    color: var(--second-color);
    margin: 0px;
}
h4{
    font-size: 24px;
    font-weight: 700;
    color: var(--pro-title-color);
    margin: 0px;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: var(--second-color);
}
a{
    text-decoration: none;
}
.btn {
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--main-color);
    padding: 7px 25px;
    font-size: 16px;
    height: 24px;
    border-radius: 20px;
}
.btn i{
    padding-left: 10px;
    font-size: 16px;
}
/* =====================
------ Header Area ----- 
===================== */
.navbar{
    margin: auto;
    max-width: 1200px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 24px;
    font-weight: 700;
    color: var(--second-color);
    text-transform: uppercase;
}
.logo a:hover {
    color: #3A3A3A99 ;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    padding: 0px 10px;
}
.nav ul li a{
    color: var(--second-color);
}
main{
    margin: auto;
    max-width: 1200px;
}
/* =============================
------- Banner Area Start ------
============================= */
.banner{
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title h1 {
    margin: 0px;
}
.image{
    position: relative;
}
.imgage-main{
    top: 0;
    right: 0;
    position: absolute;
}
/* =============================
------- Brand Area Start ------
============================= */
.brand-partner{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 15px 0px;
    margin-bottom: 100px;
}

/* =============================
------- Product Area Start -----
============================= */
.section-title{
    text-align: center;
    margin-bottom: 30px;
}
.products{
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
}
.single-product{
    box-shadow: 0px 0px 20px -8px rgba(156,156,156,1);
    padding: 10px;
    border-radius: 5px;
}
.product-image{}
.product-image img{
    width: 100%;
}
.product-image h3{
    font-weight: 500;
    text-align: center;
}
.price{
    font-weight: 400;
}
.ratings{}
.fa-star , .fa-star-half-alt{
    color: orange;
    font-size: 16px;
}
.ratings span{
    font-size: 14px;
    color: #5E6366;
}
.more-product{
    text-align: right;
    margin: 20px 0px;
}
.more-product a{
    color: var(--main-color);
}
/* =============================
------ Promo Area Start ------
============================= */
.promo-section {
    margin: 100px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.c2a{
    width: 70%;
    padding-top: 30px;
}
form{
    display: flex;
    justify-content: space-between;
}
input[type=email]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 30px;
}
input[type=submit] {
    width: 30%;
    background-color: var(--main-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}
/* =============================
------ Footer Area Start ------
============================= */
.footer {
    margin: 0px;
    background-color: #0A0826;
    padding: 60px;
    text-align: center;
}
.footer h4{
    color: #FFFFFF;
}
.footer p{
    color: #cecece;
    font-size: 14px;
}
.social {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.social i {
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 5px 0px 5px;
    background-color: #ffffff30;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}